@import 'base.css';

a {color:inherit;}
a:hover {color:inherit;}

.port_wrap {width:100%; height:100%; overflow: hidden;}
.p_left {width:25%; height:100%;  position:fixed;top:0%; left:0;}
.p_left > img { width:auto; height:auto; min-width:100%; min-height: 100%; }
.black {background-color: #000;  width:100%; height:100%; position: fixed; top:0; left:0; opacity:0.5;  }
.logo {width:10%; position: fixed; left:10%; top:5%; z-index:9999; color:#e5e5e5;}
.logo > img {max-width:50%;}
.top { position: relative;  width:100%; height:100%;}
.menus { position: fixed; top:30%; left:0%;z-index:99999; text-align: center; width:25%; height:100%;}
.menu > li:nth-child(9) {font-size: 4em;}
.menu > li {font-size: 1.5em; }
.menu > li > a {color:#e5e5e5;}
.line > div{border-left:1px solid #999; width:15px; height:30px;  margin:10px auto; opacity:0.8;}
.p_right {background-color:#f6f4e8; width:75%; height:100%; position: fixed; top:0; right:0; z-index:1; overflow: hidden;}
.p_right .box {width:100%; height:50%; border-bottom:1px solid #d5cdca;}

.cont{width:40%;  }
.cont-img > img {max-width:45%; max-height:45%; position: absolute; top:10%; left:10%;}
.text {width:30%; height:20%; background-color: #fff; position: absolute; top:60%; left:10%;}
.text > li {font-size: 1.25em; color:#6b6a61; width:100%; text-align: center; padding:5% 4% 3% 5%; }
.text > li > span > a{color:#6b6a61;}
.line-black {position: absolute; top:54%; left:5%; opacity:0.5;}
.line-black > img {max-width:70%; max-height:70%;}
.line-black2 {position: absolute; bottom:16%; left:38%; opacity:0.5;}
.line-black2 > img {max-width:70%; max-height:70%;}

.memo {width:55%; float:right; margin:100px auto 0; text-align: center;}
.login_1 .title{font-size: 4em; font-weight: 400; color:#6b6a61;  }
.login_text {margin:30px 0;}
.login_line1{position: absolute; top:12%; right:35%; opacity:0.5; }
.login_line1 > img {max-width:70%; max-height:70%;}
.login_line2{position: absolute; top:6%; right:10%; opacity:0.5; }
.login_line2 > img {max-width:70%; max-height:70%;}
.btn_wid {width:70%; margin:30px auto;}
.btn1 {width:100%; }
.btn2 {width:100%;}
.btn_color1 {width:150px; height:40px; background-color: rgb(133, 194, 146); margin:0 auto; line-height:40px; cursor: pointer;}
.btn_color1:hover {background-color: rgb(91, 196, 113);}
.btn_color1 > a{ font-weight: 400; font-size: 1.25rem;}
.btn_color2 {width:150px; height:40px; background-color: rgb(194, 133, 133); margin:0 auto; line-height:40px; cursor: pointer;}
.btn_color2:hover { background-color: rgb(231, 97, 97);}
.btn_color2 > a {color:#fff; font-weight: 400; font-size: 1.25rem;}
.wrap{width:100%; height:480px; margin:0 auto; }
.lists {width:50%; height:70%; overflow-y:scroll; background-color:#fff; margin:30px auto;}
.lists > li {padding:10px; border-bottom:1px solid #ccc; }
.writer {width:50%; margin:0 auto;}
.w_text > textarea {width:70%; height:50px; }
.w_btn {padding-top:7px;}
.btn_color3 {width:70px; height:35px; background-color: rgb(224, 219, 143); margin:0 auto; line-height:35px; cursor: pointer;}
.btn_color3:hover {background-color: rgb(243, 233, 87);}
.btn_color3 > a { font-weight: 400; font-size: 1.25rem;}
