@import "base.css";

.port_wrap {width:100%; height:100%;}
.p_left {width:25%; height:100%; overflow: hidden; position:fixed;top:0%; left:0;}
.p_left > img { width:auto; height:auto; min-width:100%; min-height: 100%; }
.black {background-color: #000;  width:100%; height:100%; position: fixed; top:0; left:0; opacity:0.5;  }
.logo {width:10%; position: fixed; left:10%; top:5%; z-index:9999; color:#e5e5e5;}
.logo > img {max-width:50%;}
.top { position: relative;  width:100%; height:100%;}
.menus { position: fixed; top:30%; left:0;z-index:99999; text-align: center; width:25%; height:100%;}
.menu > li:nth-child(3) {font-size: 4rem;}
.menu > li {font-size: 1.5em; }
.menu > li > a {color:#e5e5e5;}
.line > div{border-left:1px solid #999; width:15px; height:30px;  margin:10px auto; opacity:0.6;}

.p_right {background-color:#e9f6f7; width:75%; height:100%; position: fixed; top:0; right:0; z-index:1; overflow-Y:scroll;}

.box {width:100%; height:50%; border-bottom:1px solid #d5cdca; position: relative;}
.box_left {width:48%;}
.wave1 {position: absolute; top:-1%; left:1%; width:15%;}
.wave1 > img {max-width:100%;}
.wave2 {position: absolute; top:0%; left:35%; width:15%;}
.wave2 > img {max-width:100%;}
.box .tit {width:20%; border:1px solid #6fa2c9; position: absolute; top:7%; left:15%; line-height: 30px; text-align: center; padding:10px 0; font-weight: 400; font-size: 1.125em;}
.content {width:43%; height:50%; padding-bottom:1.5%; position: absolute; top:35%; left:8%;}
.content > li {padding-bottom:5px;}
.content > li:nth-child(3) {padding-bottom:20px;}
.content > .le-tit {float:left; width:18%; color:#333; font-weight: 400; }
.content > .lap{  width:100%; height:100%;  }
.content > .lap > img{ max-width:120%; max-height:120%; position:absolute; top:-25%; left:130%; z-index: 999; }
.btn {width:40%; height:20%;  position: absolute; top:80%; left:7%; }
.btn > .le_btn {border:1px solid #6fa2c9; padding:2% 3%; width:40%;float:left; }
.btn > .ri_btn {border:1px solid #6fa2c9; padding:2% 3%; width:40%; float:right; }
.box_right {width:48%; }
.box .sq_1 {border:10px solid #6fa2c9; width:30%; height:60%; position: absolute; top:11%; right:10%;}
.box .sq_1 > .opa {width:100%; height:100%; }
.box .sq_2 {border:10px solid #accce0; width:30%; height:60%; position: absolute; top:33%; right:3%;} 
.box .sq_2 > .opa {width:100%; height:100%;  z-index:11;}

.box1 {width:100%; height:50%; border-bottom:1px solid #d5cdca; position: relative;}
.box1 .wave1 {width:16%; position: absolute; top:2%; left:50%;}
.box1 .wave1 > img{max-width:100%;}
.box1 .wave2 {width:16%; position: absolute; top:2%; left:85%;}
.box1 .wave2 > img{max-width:100%;}
.box1 .tit {width:20%; border:1px solid #d5cdca; margin:0 auto; position: absolute; top:7%; left:66%; line-height: 30px; text-align: center; padding:10px 0; font-weight: 400; font-size: 1.125em;}
.content1 {width:43%; height:50%; padding-bottom:1.5%; position: absolute; top:35%; left:55%;}
.content1 > li {padding-bottom:5px;}
.content1 > li:nth-child(3) {padding-bottom:20px;}
.content1> .le-tit {float:left; width:18%; color:#333; font-weight: 400; }
.box1 .content1 > .lap{  width:100%; height:100%;  }
.box1 .content1 > .lap > img{ max-width:120%; max-height:120%; position:absolute; bottom:22%; right:128%; z-index: 999; }
.box1 .btn {width:40%; height:20%;  position: absolute; top:80%; left:7%; }
.box1 .btn > .le_btn {border:1px solid #d5cdca; padding:2% 3%; width:40%;float:left; }
.box1 .btn > .ri_btn {border:1px solid #d5cdca; padding:2% 3%; width:40%; float:right; }
.box1 .box_right {width:48%; }
.box1 .sq_1 {border-top:10px solid #d5cdca; width:33%; position: absolute; bottom:86%; right:57%;}
.box1 .sq_2 {border-bottom:10px solid #d5cdca; width:33%; position: absolute; bottom:23%; right:57%;} 

.box2 {width:100%; height:50%; border-bottom:1px solid #d5cdca; position: relative;}
.box2 .box_left {width:48%;}
.box2 .wave1 {position: absolute; top:-1%; left:1%; width:15%;}
.box2 .wave1 > img {max-width:100%;}
.box2 .wave2 {position: absolute; top:0%; left:35%; width:15%;}
.box2 .wave2 > img {max-width:100%;}
.box2 .tit {width:20%; border:1px solid #6fa2c9; position: absolute; top:7%; left:15%; line-height: 30px; text-align: center; padding:10px 0; font-weight: 400; font-size: 1.125em;}
.content2 {width:43%; height:50%; padding-bottom:1.5%; position: absolute; top:35%; left:8%;}
.content2 > li {padding-bottom:5px;}
.content2 > li:nth-child(3) {padding-bottom:20px;}
.content2 > .le-tit {float:left; width:18%; color:#333; font-weight: 400; }
.content2 > .lap{  width:100%; height:100%;  }
.content2 > .lap > img{ max-width:120%; max-height:120%; position:absolute; top:-25%; left:130%; z-index: 999;}
.box2 .btn {width:40%; height:20%;  position: absolute; top:80%; left:7%; }
.box2 .btn > .le_btn {border:1px solid #6fa2c9; padding:2% 3%; width:40%;float:left; }
.box2 .btn > .ri_btn {border:1px solid #6fa2c9; padding:2% 3%; width:40%; float:right; }
.box2 .box_right {width:48%; }
.box2 .sq_1 {border:10px solid #6fa2c9; width:30%; height:60%; position: absolute; top:11%; right:10%;}
.box2 .sq_1 > .opa {width:100%; height:100%; }
.box2 .sq_2 {border:10px solid #accce0; width:30%; height:60%; position: absolute; top:33%; right:3%;} 
.box2 .sq_2 > .opa {width:100%; height:100%;  z-index:11;}

.box3 {width:100%; height:50%; border-bottom:1px solid #d5cdca; position: relative;}
.box3 .wave1 {width:16%; position: absolute; top:2%; left:50%;}
.box3 .wave1 > img{max-width:100%;}
.box3 .wave2 {width:16%; position: absolute; top:2%; left:85%;}
.box3 .wave2 > img{max-width:100%;}
.box3 .tit {width:20%; border:1px solid #d5cdca; margin:0 auto; position: absolute; top:7%; left:66%; line-height: 30px; text-align: center; padding:10px 0; font-weight: 400; font-size: 1.125em;}
.content3 {width:43%; height:50%; padding-bottom:1.5%; position: absolute; top:35%; left:55%;}
.content3 > li {padding-bottom:5px;}
.content3 > li:nth-child(3) {padding-bottom:20px;}
.content3> .le-tit {float:left; width:18%; color:#333; font-weight: 400; }
.content3 > .lap{  width:100%; height:100%;  }
.content3 > .lap > img{ max-width:120%; max-height:120%; position:absolute; bottom:22%; right:128%; z-index: 999; }
.box3 .btn {width:40%; height:20%;  position: absolute; top:80%; left:7%; }
.box3 .btn > .le_btn {border:1px solid #d5cdca; padding:2% 3%; width:40%;float:left; }
.box3 .btn > .ri_btn {border:1px solid #d5cdca; padding:2% 3%; width:40%; float:right; }
.box3 .box_right {width:48%; }
.box3 .sq_1 {border-top:10px solid #d5cdca; width:33%; position: absolute; bottom:86%; right:57%;}
.box3 .sq_2 {border-bottom:10px solid #d5cdca; width:33%; position: absolute; bottom:23%; right:57%;} 




