@import "base.css";

.port_wrap {width:100%; height:100%;}
.p_left {width:25%; height:100%; overflow: hidden; position:fixed;top:0%; left:0;}
.p_left > img { width:auto; height:auto; min-width:100%; min-height: 100%; }
.black {background-color: #000;  width:100%; height:100%; position: fixed; top:0; left:0; opacity:0.5;  }
.logo {width:10%; position: fixed; left:10%; top:5%; z-index:9999; color:#e5e5e5;}
.logo > img {max-width:50%;}
.top { position: relative;  width:100%; height:100%;}
.menus { position: fixed; top:30%; left:0;z-index:99999; text-align: center; width:25%; height:100%;}
.menu > li:nth-child(3) {font-size: 4rem;}
.menu > li {font-size: 1.5em; }

.menu > li > a {color:#e5e5e5;}
.line > div{border-left:1px solid #999; width:15px; height:30px;  margin:10px auto; opacity:0.6;}

.p_right {background-color:#e9f6f7; width:75%; height:100%; position: fixed; top:0; right:0; z-index:1; overflow-Y:scroll;}
.p_right .box {width:100%; height:50%; border-bottom:1px solid #d5cdca;}

.title{ width:48%; }
.wave {  position: absolute; top:1%; left:1%; width:15%;}
.wave > img {max-width:100%;}
.tit {width:20%; border:1px solid #6fa2c9; margin:0 auto; position: absolute; top:5%; left:15%; line-height: 40px; text-align: center; padding:10px 0; font-weight: 400; font-size: 1.25em;}
.wave2 { width:15%; position: absolute; top:2%; left:36%;}
.wave2 > img {max-width:100%;}
.content {width:50%; height:100%; position: absolute; top:18%; left:6%;}
.content > .le-tit {float:left; width:18%; color:#333; font-weight: 400;}
.content > .ri-tit {float:right; width:80%;  color:#999;}
.lap1 > img { max-width:60%; max-height:60%; position: absolute; top:-8%; right:-65%; z-index: 111;} 
.btn {width:30%; height:50%; }
.le_btn {border:1px solid #6fa2c9; position: absolute; top:40%; left:10%; padding:1% 4%; }
.ri_btn {border:1px solid #6fa2c9; position: absolute; top:40%; left:30%; padding:1% 4%;}
.mokup {width:48%; }
.n1 {border:10px solid #6fa2c9; width:30%; height:30%; position: absolute; top:5%; right:15%;}
.n1 > .opa {width:100%; height:100%; opacity:0;}
.mokup2 {width:50%; height:50%;}
.n3{width:32%; height:31%; position: absolute; bottom:12.25%; left:7%; border-top:13px solid #d5cdca; border-bottom:13px solid #d5cdca;}
.n3 > div{width:100%; height:100%;}

.n2 {border:10px solid #accce0; width:30%; height:30%; position: absolute; top:12%; right:6%;} 
.n2 > .opa {width:100%; height:100%; opacity:0; z-index:11;}

.f1_left {width:50%; height:100%;}
.btn2 {width:30%; height:50%; color:#222; font-weight: 400; font-size: 1.125em;}
.le_btn2 {border:1px solid #d5cdca; position: absolute; bottom:5%; left:7%; padding:1.125% 4.5%;}
.ri_btn2 {border:1px solid #d5cdca; position: absolute; bottom:5%; left:26.25%; padding:1.125% 4.5%;}

.tit-box {width:50%; height:100%;}
.wave3 {width:16.5%; position: absolute; top:53%; right:38.5%;}
.wave3 > img{max-width:100%;}
.wave4 {width:17.5%; position: absolute; top:53%; right:0%;}
.wave4 > img{max-width:100%;}
.tit2 {width:20%; border:1px solid #d5cdca; margin:0 auto; position: absolute; top:55%; right:19%; line-height:40px; text-align: center; padding:10px 0; font-weight: 400; font-size: 1.25em;}
.content1 {width:40%; height:100%; position: absolute; top:70%; right:5%;}
.content1 > .le-tit {float:left; width:30%; color:#333; font-weight: 400;}
.content1 > .ri-tit {float:right; width:70%;  color:#999;}
.lap2 >img {max-width:80%; max-height:80%;top:-12%; right:140%; position: absolute; z-index: 999;}