@import 'base.css';

.port_wrap {width:100%; height:100%;}
.p_left {width:25%; height:100%; overflow: hidden; position:fixed;top:0%; left:0;}
.p_left > img { width:auto; height:auto; min-width:100%; min-height: 100%; }
.black {background-color: #000;  width:100%; height:100%; position: fixed; top:0; left:0; opacity:0.5;  }
.logo {width:10%; position: fixed; left:9.5%; top:5%; z-index:9999; color:#e5e5e5;}
.logo > img {max-width:50%;}
.top { position: relative;  width:100%; height:100%;}
.menus { position: fixed; top:30%; left:0.5%;z-index:99999; text-align: center; width:23%; }
.menu > li:nth-child(7) {font-size: 3em;}
.menu > li {font-size: 1.5em;  }
.menu > li > a {color:#e5e5e5;}
.line > div{border-left:1px solid #999; width:15px; height:30px;  margin:10px auto; opacity:0.6;}
.p_right {background-color:#f5faef; width:75%; height:100%; position: fixed; top:0; right:0; z-index:1; overflow:hidden;}
.p_right .box {width:100%; height:50%; border-bottom:1px solid #d5cdca;}
.white {color:#fff;font-size: 1.75em; }


/* entire container, keeps perspective*/
.container1 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; top:13%; left:29%;
}

/* front pane, placed above back */
.front1{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text1 {text-align: center; width:50%; height:50%;
    position: absolute; top:25%; left:25%; 
}
.text1_2 {color:#6ca89f; position: absolute; top:36%; right:19%; width:60%; height:30%; }
.text1_2 > p{font-size: 1.25em;}
/* back, initially hidden pane */
.back1 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
 
}
/* flip the pane when hovered */
.container1:hover .flipper, .container1.hover .flipper {
    transform: rotateY(180deg);
}
/* flip speed goes here */
.flipper {
    border:1px solid #f00;
    width:40%;
    height:40%;
    transition: 0.6s;
   /* 하위요소에 3D 좌표값 지정 */
    transform-style: preserve-3d;
    position: relative;
    z-index:9999999 !important;
}
/* hide back of pane during swap */
.front1, .back1{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 


/********2*************/

/* entire container, keeps perspective*/
.container2 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; top:22%; left:19%;
}
/* front pane, placed above back */
.front2{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text2{
    position: absolute; top:39%; left:41%; width:50%; height:50%;
}
.text2_2 {color:#6ca89f; position: absolute; top:36%; right:17%; width:60%; height:30%; }
.text2_2 > p{font-size: 1.25em;}
/* back, initially hidden pane */
.back2 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container2:hover .flipper, .container2.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front2, .back2{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 


/********3*************/

/* entire container, keeps perspective*/
.container3 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; top:21%; left:39%;
}
/* front pane, placed above back */
.front3{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text3{
    position: absolute; top:23%; left:23%; text-align: center;width:50%; height:50%;
}
.text3_2 {color:#6ca89f; position: absolute; top:40%; left:23%; width:60%; height:30%; }
.text3_2 > p{font-size: 1.25em;}

/* back, initially hidden pane */
.back3 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container3:hover .flipper, .container3.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front3, .back3{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 




/********4*************/

/* entire container, keeps perspective*/
.container4 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; top:40%; left:18%;
}
/* front pane, placed above back */
.front4{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text4 {
    position: absolute; top:38%; left:42%;width:50%; height:50%;
}
.text4_2 {color:#6ca89f; position: absolute; top:36%; right:18%; width:60%; height:30%; }
.text4_2 > p{font-size: 1.25em;}
/* back, initially hidden pane */
.back4 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container4:hover .flipper, .container4.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front4, .back4{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 



/********5*************/

/* entire container, keeps perspective*/
.container5 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; top:40%; left:40%;
}
/* front pane, placed above back */
.front5{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text5 {
    position: absolute; top:38%; left:18%;width:70%; height:50%;
}
.text5_2 {color:#6ca89f; position: absolute; top:36%; right:19%; width:60%; height:30%; }
.text5_2 > p{font-size: 1.5em;}
/* back, initially hidden pane */
.back5 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container5:hover .flipper, .container5.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front5, .back5{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 




/********6*************/

/* entire container, keeps perspective*/
.container6 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; bottom:25%; right:21%;
}

/* front pane, placed above back */
.front6{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text6 {
    position: absolute; bottom:28%; right:25%; text-align: center;width:50%; height:50%;
}
.text6_2 {color:#6ca89f; position: absolute; top:30%; right:17%; width:60%; height:30%; }
.text6_2 > p{font-size: 1.25em;}
/* back, initially hidden pane */
.back6 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container6:hover .flipper, .container6.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front6, .back6{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 





/********7*************/

/* entire container, keeps perspective*/
.container7 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; bottom:7%; right:20%;
}

/* front pane, placed above back */
.front7{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
.text7 {
    position: absolute; bottom:10%; right:22%;width:50%; height:50%;
}
.text7_2 {color:#6ca89f; position: absolute; top:30%; right:19%; width:55%; height:30%; }
.text7_2 > p{font-size: 1.25em;}
/* back, initially hidden pane */
.back7 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container7:hover .flipper, .container7.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front7, .back7{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 





/********8*************/

/* entire container, keeps perspective*/
.container8 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; bottom:-2%; right:10.5%;
}

/* front pane, placed above back */
.front8{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* back, initially hidden pane */
.back8 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container8:hover .flipper, .container8.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front8, .back8{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 





/********9*************/

/* entire container, keeps perspective*/
.container9 {
    width:30%; height:45%;
    perspective: 1000px;
position: absolute; bottom:6.5%; right:0.5%;
}
/* front pane, placed above back */
.front9{
  z-index:999;
  /* for firefox 31 */
  transform: rotateY(0deg);
 background-image:url('../img/skill_img2.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* back, initially hidden pane */
.back9 {
    transform: rotateY(180deg);
 background-image:url('../img/skill_line.png');
 background-repeat: no-repeat;
  background-size:100% 100%;
}
/* flip the pane when hovered */
.container9:hover .flipper, .container9.hover .flipper {
    transform: rotateY(180deg);
}
/* hide back of pane during swap */
.front9, .back9{
    width: 100%;
    height: 100%;
  position: absolute;
  left:-2%; 
  backface-visibility:hidden;
} 


.skill_img {width:100%; height:100%;}
.p_a {position: absolute; width:20%; height:30%;}
.p_a > img {width:75%; height:75%;}
.s_i1 {top:30%; left:5%;} 

.s_i10 {bottom:34%; right: 22%;}
.s_i12 {top:29%; left: 27.5%;}
.s_i14 {bottom:0%; left:10%;}
.s_i14 >img {width:90%; height:90%;}
.s_i15 {bottom:-13%; left:0%;}
.s_i15 >img {width:80%; height:80%;}
.s_i16 {top:49.5%; left:5%;}
.s_i17 {bottom:21%; left: 27%;}
.s_i18 {top:16%; right:23%;}
.s_i18 >img {width:75%; height:80%;}
.s_i19 {top:-8%; right:-5%;}
.s_i19 >img {width:90%; height:90%;}
.s_i20 {top:7%; right:3%;}
.s_i20 >img {width:60%; height:60%;}
.s_i21 {top:15%; right:-6%;}
.s_i21 >img {width:65%; height:65%;}

.p_b {position: absolute;z-index: 9999; width:5%; height:5%;}
.s_t2 {top:100%; left: 30%; }

.skill_line {width:100%; height:100%; display:none;}
.skill_text {width:20%; height:20%; position: absolute; top:7%; left:23%;}
.s_line {width:5%; height:10%; border-left:1px solid #13544a; position: absolute; top:12%; left:24%;}
.s_img {width:53%; height:55%; position: absolute; top:20%; left: 15.5%; }
.s_img img {width:30%; height:40%;}
.s_cir {width:10px; height:10px; background-color: #13544a; border-radius: 50%; position: absolute; top:11.5%; left:23.75%;}
